Repository GSoft-Goldsmiths/iLost-main, pull requests merged in 2018-03, with the labels that each got.

#121 5.outcomes to date
  presentations/scripts/5.outcomes to date.md
Labels: presentation

#122 Issue #83 update
  src/react-native-app/.babelrc
  src/react-native-app/.flowconfig
  src/react-native-app/.gitignore
  src/react-native-app/.idea/iLost.iml
  src/react-native-app/.idea/misc.xml
  src/react-native-app/.idea/modules.xml
  src/react-native-app/.idea/workspace.xml
  src/react-native-app/.watchmanconfig
  src/react-native-app/App.js
  src/react-native-app/README.md
  src/react-native-app/app.json
  src/react-native-app/assets/fonts/CaviarDreams.ttf
  src/react-native-app/assets/fonts/CaviarDreams_Bold.ttf
  src/react-native-app/assets/images/icons/app-1024x1024.png
  src/react-native-app/assets/images/icons/camera.png
  src/react-native-app/assets/images/icons/fingerprint.png
  src/react-native-app/assets/images/icons/fireworks.png
  src/react-native-app/assets/images/icons/heart.png
  src/react-native-app/assets/images/icons/iLost.png
  src/react-native-app/assets/images/icons/lock.png
  src/react-native-app/assets/images/icons/tracker.png
  src/react-native-app/assets/images/sampleItems/sample1.jpg
  src/react-native-app/assets/images/sampleItems/sample2.jpg
  src/react-native-app/assets/images/sampleItems/sample3.jpg
  src/react-native-app/package-lock.json
  src/react-native-app/package.json
  src/react-native-app/src/components/Button.js
  src/react-native-app/src/components/FullPageView.js
  src/react-native-app/src/components/ItemListCell.js
  src/react-native-app/src/components/Map.js
  src/react-native-app/src/components/PasswordInput.js
  src/react-native-app/src/contents/sampleData.js
  src/react-native-app/src/contents/sampleImages.js
  src/react-native-app/src/styles/variables.js
  src/react-native-app/src/views/AuthAddTouchIdView.js
  src/react-native-app/src/views/AuthFinishedView.js
  src/react-native-app/src/views/AuthLoadingView.js
  src/react-native-app/src/views/AuthSetPasswordView.js
  src/react-native-app/src/views/AuthSignInView.js
  src/react-native-app/src/views/EditItemView.js
  src/react-native-app/src/views/ItemDetailView.js
  src/react-native-app/src/views/ItemListView.js
  src/react-native-app/src/views/OnBoardingPagesView.js
  src/react-native-app/tests/App.test.js
  src/react-native-app/tests/__snapshots__/App.test.js.snap
  src/react-native-app/tests/components/Button.test.js
  src/react-native-app/tests/components/FullPageView.test.js
  src/react-native-app/tests/components/ItemListCell.test.js
  src/react-native-app/tests/components/PasswordInput.test.js
  src/react-native-app/tests/views/AuthAddTouchIdView.test.js
  src/react-native-app/tests/views/AuthFinishedView.test.js
  src/react-native-app/tests/views/AuthSetPasswordView.test.js
  src/react-native-app/tests/views/ItemDetailView.js
  src/react-native-app/tests/views/ItemListView.js
  src/react-native-app/tests/views/OnBoardingPagesView.js
  src/react-native-app/yarn.lock
Labels: iOS App Develop

#126 Issue #114 update
  final-report/assets/black-box-test-cases.pdf
  final-report/latex/final_report.aux
  final-report/latex/final_report.fdb_latexmk
  final-report/latex/final_report.fls
  final-report/latex/final_report.log
  final-report/latex/final_report.out
  final-report/latex/final_report.pdf
  final-report/latex/final_report.synctex.gz
  final-report/latex/final_report.tex
  final-report/latex/final_report.toc
  src/react-native-app/package-lock.json
  src/react-native-app/package.json
  src/react-native-app/src/components/PasswordInput.js
  src/react-native-app/src/views/AuthSetPasswordView.js
  src/react-native-app/tests/components/Button.test.js
  src/react-native-app/tests/components/FullPageView.test.js
  src/react-native-app/tests/components/ItemListCell.test.js
  src/react-native-app/tests/components/PasswordInput.test.js
  src/react-native-app/tests/components/__snapshots__/Button.test.js.snap
  src/react-native-app/tests/components/__snapshots__/FullPageView.test.js.snap
  src/react-native-app/tests/components/__snapshots__/ItemListCell.test.js.snap
  src/react-native-app/tests/components/__snapshots__/PasswordInput.test.js.snap
  src/react-native-app/tests/views/AuthAddTouchIdView.test.js
  src/react-native-app/tests/views/AuthFinishedView.test.js
  src/react-native-app/tests/views/AuthSetPasswordView.test.js
  src/react-native-app/tests/views/ItemDetailView.js
  src/react-native-app/tests/views/ItemListView.js
  src/react-native-app/tests/views/OnBoardingPagesView.js
  src/react-native-app/tests/views/__snapshots__/AuthAddTouchIdView.test.js.snap
  src/react-native-app/tests/views/__snapshots__/AuthFinishedView.test.js.snap
  src/react-native-app/tests/views/__snapshots__/AuthSetPasswordView.test.js.snap
Labels: final report

#129 Update final_report.tex
  final-report/latex/final_report.tex
Labels: final report
